<div class="sidebar">
    <div class="">
       <!-- <img src="../../../../assets/images/BITS-image/suzhal.png" alt="our logo"> -->
    </div>
    <ul class="sidebar-menu">
      <li><a routerLink="/Home"><i class="fas fa-laptop-house"></i> Dashboard</a></li>
      <li><a routerLink="/Ticket-Status"><i class="fas fa-user"></i> Ticket Status</a></li>
      <li><a routerLink="/Ticket-Status"><i class="fa-solid fa-user-tie"></i> Region Admin</a></li>
      <li><a href="#"><i class="fas fa-file-alt"></i> Reports</a></li>
      <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
    </ul>
  </div>
  