<!-- src/app/register/register.component.html -->
<div class="register-container">
    <div class="register-box">
      <h2>Register</h2>
      <form (ngSubmit)="register()">
        <div class="input-group">
          <input
            type="text"
            ng-model="user.username"
            name="username"
            placeholder="Username"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            ng-model="user.password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="text"
            ng-model="user.phone"
            name="phone"
            placeholder="Phone Number"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="email"
            ng-model="user.email"
            name="email"
            placeholder="Email ID"
            required
          />
        </div>
        <button type="submit" class="register-btn">Register</button>
      </form>
      <div class="signup-link pt-3">
        Already have an account? <a href="/login">Login</a>
      </div>
    </div>
  </div>
  